@charset "utf-8";

.fundo{
    background-image: url("../media/image/fundo_npc.png");
}

#interface{
    background-color: #ed005c;
}

#menu a:hover{
    background-color: #890035;
}

.vivo{
    position: relative;
    text-align: center;
    margin: 20px;
}

.vivo h1{
    padding-top: 100px;
}