@charset "utf-8";

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img{
    width: 700px;
}

.profissao{
    margin-bottom: 1000px;
    text-align: center;
}