@charset "utf-8";

#menu a{
	font-size: 27px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
}
.last_city {
	
	height: 450px;
	margin: 50px;
	

}

.last_city #texto h1{
	padding-top: 50px;
	padding-left: 20px;
}
#sub-texto h1, p{
	text-align: left;
	padding-left: 20px;
	text-align: justify;
}

a{
	text-decoration: none;
}

#imagem {
	border-radius: 30px;
	width: 100%;
	height: 100%;
	background-image: url("../media/image/ilha.jpeg");	
	background-size: 100% 100%;
}

#imagem img {

	width: 100%;
	height: 100%;
}
#mundo-imagem {
	border-radius: 30px;
	width: 100%;
	height: 100%;
	background-image: url("../media/image/ilha.jpeg");	
	background-size: 100% 100%;
}

#mundo-imagem img {

	width: 100%;
	height: 100%;
}
#texto {
	border-radius: 30px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0));
	color:#fff;
	text-align: center;
	top: 100px;
	width: 100%;
	line-height: 30px;
	height: 100%;
}
#sub-texto{
	width: 43%;
}

.slider{
    box-shadow: 0px 10px 30px 10px black;
}
